src/main/resources/schema/instance.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2021 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="https://www.w3.org/2009/01/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace" />
    <xs:element name="dataset_instance">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type" type="xs:string" />
                <xs:element name="metadata" type="metadataType" />
                <xs:element name="location">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="files">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="baseDir" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="database">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="type" type="xs:string" />
                                        <xs:element name="connection_url" type="xs:string" />
                                        <xs:element name="schema" type="xs:string" />
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="metadataType">
        <xs:all>
            <xs:annotation>
                <xs:documentation>The following metadata elements are based on the DataCite schema</xs:documentation>
            </xs:annotation>
            <xs:element name="version" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Version number of the resource. If the primary resource has changed the version number increases.</xs:documentation>
                    <xs:documentation>Register a new identifier for a major version change. Individual stewards need to determine which are major vs. minor versions. May be used in conjunction with properties 11 and 12 (AlternateIdentifier and RelatedIdentifier) to indicate various information updates. May be used in conjunction with property 17 (Description) to indicate the nature and file/record range of version.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="identifier" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="identifierType" type="xs:string" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="creators">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="creator" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>The main researchers involved working on the data, or the authors of the publication in priority order. May be a corporate/institutional or personal name.</xs:documentation>
                                <xs:documentation>Format: Family, Given.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="creatorName" type="xs:string" />
                                    <xs:element name="nameIdentifier" minOccurs="0">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute name="nameIdentifierScheme" use="required" />
                                                    <xs:attribute name="schemeURI" type="xs:anyURI" use="optional" />
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="affiliation" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="contributors" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="contributor" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>The institution or person responsible for collecting, creating, or otherwise contributing to the developement of the dataset.</xs:documentation>
                                <xs:documentation>The personal name format should be: Family, Given.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="contributorName" type="xs:string" />
                                    <xs:element name="nameIdentifier" minOccurs="0">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute name="nameIdentifierScheme" use="required" />
                                                    <xs:attribute name="schemeURI" type="xs:anyURI" use="optional" />
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="affiliation" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                                <xs:attribute name="contributorType" type="contributorType" use="required" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dates" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="date" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Different dates relevant to the work.</xs:documentation>
                                <xs:documentation>YYYY,YYYY-MM-DD, YYYY-MM-DDThh:mm:ssTZD or any other format or level of granularity described in W3CDTF. Use RKMS-ISO8601 standard for depicting date ranges.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="dateType" type="dateType" use="required" />
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sizes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="size" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Unstructures size information about the resource.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:simpleType id="dateType" name="dateType">
        <xs:annotation>
            <xs:documentation>The type of date. Use RKMS‐ISO8601 standard for depicting date ranges.To indicate the end of an embargo period, use Available. To indicate the start of an embargo period, use Submitted or Accepted, as appropriate.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Accepted" />
            <xs:enumeration value="Available" />
            <xs:enumeration value="Collected" />
            <xs:enumeration value="Copyrighted" />
            <xs:enumeration value="Created" />
            <xs:enumeration value="Issued" />
            <xs:enumeration value="Submitted" />
            <xs:enumeration value="Updated" />
            <xs:enumeration value="Valid" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType id="contributorType" name="contributorType">
        <xs:annotation>
            <xs:documentation>The type of contributor of the resource.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ContactPerson" />
            <xs:enumeration value="DataCollector" />
            <xs:enumeration value="DataCurator" />
            <xs:enumeration value="DataManager" />
            <xs:enumeration value="Distributor" />
            <xs:enumeration value="Editor" />
            <xs:enumeration value="Funder" />
            <xs:enumeration value="HostingInstitution" />
            <xs:enumeration value="Other" />
            <xs:enumeration value="Producer" />
            <xs:enumeration value="ProjectLeader" />
            <xs:enumeration value="ProjectManager" />
            <xs:enumeration value="ProjectMember" />
            <xs:enumeration value="RegistrationAgency" />
            <xs:enumeration value="RegistrationAuthority" />
            <xs:enumeration value="RelatedPerson" />
            <xs:enumeration value="ResearchGroup" />
            <xs:enumeration value="RightsHolder" />
            <xs:enumeration value="Researcher" />
            <xs:enumeration value="Sponsor" />
            <xs:enumeration value="Supervisor" />
            <xs:enumeration value="WorkPackageLeader" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>