src/main/resources/schema/type.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="https://www.w3.org/2009/01/xml.xsd" />

    <xs:element name="dataset_type">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string" />
                <xs:element name="identifier">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="identifierType" use="required" type="xs:string">
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
                <xs:element name="metadata">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titles">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>A name or title by which a resource is known.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="titleType" type="titleType" use="optional" />
                                                        <xs:attribute ref="xml:lang" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="publisher" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>The name of the entity that holds, archives, publishes prints, distributes, releases, issues, or produces the resource. This property will be used to formulate the citation, so consider the prominence of the role.</xs:documentation>
                                    <xs:documentation>In the case of datasets, "publish" is understood to mean making the data available to the community of researchers.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <!-- OPTIONAL FIELDS -->
                            <xs:element name="subjects" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="subject" minOccurs="0" maxOccurs="unbounded" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Subject, keywords, classification codes, or key phrases describing the resource.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="languages">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="language" type="xs:language" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Primary language of the resource. Allowed values are taken from IETF BCP 47, ISO 639-1 language codes.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="type" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>The type of a resource. You may enter an additional free text description.</xs:documentation>
                                    <xs:documentation>The format is open, but the preferred format is a single term of some detail so that a pair can be formed with the sub-property.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="class" type="resourceType" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="alternateIdentifiers" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="alternateIdentifier" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>An identifier or identifiers other than the primary Identifier applied to the resource being registered. This may be any alphanumeric string which is unique within its domain of issue. May be used for local identifiers. AlternateIdentifier should be used for another identifier of the same instance (same location, same file).</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="alternateIdentifierType" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="relatedIdentifiers" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="relatedIdentifier" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Identifiers of related resources. Use this property to indicate subsets of properties, as appropriate.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="relatedIdentifierType" type="relatedIdentifierType" use="required"/>
                                                        <xs:attribute name="relationType" type="relationType" use="required"/>
                                                        <xs:attribute name="relatedMetadataScheme" use="optional"/>
                                                        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
                                                        <xs:attribute name="schemeType" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="formats" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="format" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Technical format of the resource.</xs:documentation>
                                                <xs:documentation>Use file extension or MIME type where possible.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="rightsList" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="rights" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Any rights information for this resource. Provide a rights management statement for the resource or reference a service providing such information. Include embargo information if applicable. Use the complete title of a license and include version information if applicable.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="rightsURI" type="xs:anyURI" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="descriptions" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="description" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>All additional information that does not fit in any of the other categories. May be used for technical information. It is a best practice to supply a description.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType mixed="true">
                                                <xs:choice>
                                                    <xs:element name="br" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                                                </xs:choice>
                                                <xs:attribute name="descriptionType" type="descriptionType" use="required" />
                                                <xs:attribute ref="xml:lang" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="geoLocations" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="geoLocation" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Spatial region or named place where the data was gathered or about which the data is focused.</xs:documentation>
                                                <xs:documentation>A point contains a single latitude-longitude pair, separated by whitespace.</xs:documentation>
                                                <xs:documentation>A box contains two white space separated latitude-longitude pairs, with each pair separated by whitespace. The first pair is the lower corner, the second is the upper corner.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="geoLocationPoint" type="point" minOccurs="0" />
                                                    <xs:element name="geoLocationBox" type="box" minOccurs="0" />
                                                    <xs:element name="geoLocationPlace" minOccurs="0" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <!--  The following elements are added by IntelComp -->
                            <xs:element name="source" type="xs:string" />
                            <xs:element name="tags">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tag" type="xs:string" minOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="contact">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="email" type="xs:string" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="position" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="organization" type="xs:string" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="webpage" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
                            <xs:element name="logo" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
                            <xs:element name="provenance" type="xs:string" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="schema">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="type">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="file" />
                                        <xs:enumeration value="database" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="entities">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="entity" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="name" type="xs:string" />
                                                    <xs:element name="description" type="xs:string" />
                                                    <xs:element name="filters">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="filter">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="field" type="xs:string" />
                                                                            <xs:element name="type" type="xs:string" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="sample" type="xs:string"/>
                                                    <xs:choice>
                                                        <xs:element name="file">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="relativePath" type="xs:string" />
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="database">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="table" type="xs:string" />
                                                                    <xs:element name="schema" type="xs:string" minOccurs="0" maxOccurs="1" />
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:choice>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:simpleType name="titleType" id="titleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AlternativeTitle"/>
            <xs:enumeration value="Subtitle"/>
            <xs:enumeration value="TranslatedTitle"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
    <xs:simpleType name="resourceType"
                   id="resourceType"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>The general type of a resource.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Audiovisual" />
            <xs:enumeration value="Collection" />
            <xs:enumeration value="Dataset" />
            <xs:enumeration value="Event" />
            <xs:enumeration value="Image" />
            <xs:enumeration value="InteractiveResource" />
            <xs:enumeration value="Model" />
            <xs:enumeration value="PhysicalObject" />
            <xs:enumeration value="Service" />
            <xs:enumeration value="Software" />
            <xs:enumeration value="Sound" />
            <xs:enumeration value="Text" />
            <xs:enumeration value="Workflow" />
            <xs:enumeration value="Other" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="point">
        <xs:restriction base="listOfDoubles">
            <xs:minLength value="2" />
            <xs:maxLength value="2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="box">
        <xs:restriction base="listOfDoubles">
            <xs:minLength value="4" />
            <xs:maxLength value="4" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="listOfDoubles">
        <xs:list itemType="xs:double" />
    </xs:simpleType>
    <xs:simpleType id="descriptionType" name="descriptionType">
        <xs:annotation>
            <xs:documentation>The type of the description.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Abstract" />
            <xs:enumeration value="Methods" />
            <xs:enumeration value="SeriesInformation" />
            <xs:enumeration value="TableOfContents" />
            <xs:enumeration value="Other" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
    <xs:simpleType id="relatedIdentifierType"
                   name="relatedIdentifierType"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>The type of the RelatedIdentifier.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARK" />
            <xs:enumeration value="arXiv" />
            <xs:enumeration value="bibcode" />
            <xs:enumeration value="DOI" />
            <xs:enumeration value="EAN13" />
            <xs:enumeration value="EISSN" />
            <xs:enumeration value="Handle" />
            <xs:enumeration value="ISBN" />
            <xs:enumeration value="ISSN" />
            <xs:enumeration value="ISTC" />
            <xs:enumeration value="LISSN" />
            <xs:enumeration value="LSID" />
            <xs:enumeration value="PMID" />
            <xs:enumeration value="PURL" />
            <xs:enumeration value="UPC" />
            <xs:enumeration value="URL" />
            <xs:enumeration value="URN" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
    <xs:simpleType id="relationType"
               name="relationType"
               xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:annotation>
            <xs:documentation>Description of the relationship of the resource being registered (A) and the related resource (B).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="IsCitedBy" />
            <xs:enumeration value="Cites" />
            <xs:enumeration value="IsSupplementTo" />
            <xs:enumeration value="IsSupplementedBy" />
            <xs:enumeration value="IsContinuedBy" />
            <xs:enumeration value="Continues" />
            <xs:enumeration value="IsNewVersionOf" />
            <xs:enumeration value="IsPreviousVersionOf" />
            <xs:enumeration value="IsPartOf" />
            <xs:enumeration value="HasPart" />
            <xs:enumeration value="IsReferencedBy" />
            <xs:enumeration value="References" />
            <xs:enumeration value="IsDocumentedBy" />
            <xs:enumeration value="Documents" />
            <xs:enumeration value="IsCompiledBy" />
            <xs:enumeration value="Compiles" />
            <xs:enumeration value="IsVariantFormOf" />
            <xs:enumeration value="IsOriginalFormOf" />
            <xs:enumeration value="IsIdenticalTo" />
            <xs:enumeration value="HasMetadata" />
            <xs:enumeration value="IsMetadataFor" />
            <xs:enumeration value="Reviews" />
            <xs:enumeration value="IsReviewedBy" />
            <xs:enumeration value="IsDerivedFrom" />
            <xs:enumeration value="IsSourceOf" />
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>